html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
header{
	min-height: 60px;
  border: 1px solid @red;
}
.img-brand{
  width: 40px;
}
main{
	padding-top: 80px;
}
.content {
  flex: 1 0 auto;
}

.bg-light-grey{
  background-color: @light-grey;
}
.text-light-grey{
  color: @light-grey;
}
.bg-red{
  background-color: @red;
}
.text-red{
  color: @red;
}
.text-light-grey{
  color: @light-grey;
}
.bg-blue{
  background-color: @blue;
}
.text-blue{
  color: @blue;
}
.btn-red-nav{
  background-color: @red;
  color: @light-grey;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  width: fit-content;
}
.btn-red-nav:hover{
  background-color: @red;
  color: @light-grey;
  border-bottom: 1px solid @light-grey;
  cursor: pointer;
}
.btn-red-nav.active{
  background-color: @red;
  color: @blue;
}
.btn-red{
  background-color: @red;
  color: @light-grey;
  border-radius: 0;
}
.btn-red:hover{
  background-color: @blue;
  color: @light-grey;
  border-bottom: 1px solid @light-grey;
  cursor: pointer;
}
.btn-red.active{
  background-color: @red;
  color: @blue;
}
.btn-white{
  background-color: @white;
  color: @red;
}
.btn-white:hover{
  background-color: @white;
  color: @red;
  border-bottom: 1px solid @red;
}
.btn-white.active{
  background-color: @red;
  color: @white;
}
.border-blue{
  border: 1px solid @blue;
}
// a.online-spel {
//   position: absolute;
//   bottom: 15px;
//   right: 20px;
// }
