main.start-page {

	div.online {
		position: absolute;
		right: 10px;
		top: 120px;
	}

	.card-body {
		@media @tablet-min {
		height: 200px;
		}
		@media @pc-min {
			height: 140px;
		}
	}
	
	img.card-img-top {
		height: 170px;
	}


}