.slot {
	width:100px;
	height:100px;
	border:3px solid #999;
	border-radius:50px;
	background-color: white;
	padding: 15px;
	float:left;
}

.board-row {
	clear:both;
}

.board-holder {
	overflow: hidden;
	margin: 20px auto;
	background-color: #000;
	/* set width and height from js */ 
}

.board {
	width:700px;
	height: 600px;
	transform-origin: 0 0;
	/* transform: scale(0.33); --- do by js instead */
	display: none; /* dont show before js scale */
}

 .player1 {
	background-color: blue;
	background-image: url(/img/player1.svg);
}

.player2 {
	background-color: red;
	background-image: url(/img/player2.svg);
}

