

ul.markers li {
	border-radius: 50%;
	height: 40px; 
	width: 40px; 
	border: 1px solid #ef4644;
	background-color: #ef4644;
	list-style-type: none;
	margin: 10px 15px 15px 10px;
}

ul.markers li.yellow {
	border: 1px solid #ffeb3f;
	background-color: #ffeb3f;
}


h2 {
	font-size: 2.4rem;
}