html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
header {
  min-height: 60px;
  border: 1px solid #e86d49;
}
.img-brand {
  width: 40px;
}
main {
  padding-top: 80px;
}
.content {
  flex: 1 0 auto;
}
.bg-light-grey {
  background-color: #fdffee;
}
.text-light-grey {
  color: #fdffee;
}
.bg-red {
  background-color: #e86d49;
}
.text-red {
  color: #e86d49;
}
.text-light-grey {
  color: #fdffee;
}
.bg-blue {
  background-color: #3074e7;
}
.text-blue {
  color: #3074e7;
}
.btn-red-nav {
  background-color: #e86d49;
  color: #fdffee;
  border-bottom: 1px solid transparent;
  border-radius: 0;
}
.btn-red-nav:hover {
  background-color: #e86d49;
  color: #fdffee;
  border-bottom: 1px solid #fdffee;
  cursor: pointer;
}
.btn-red-nav.active {
  background-color: #e86d49;
  color: #3074e7;
}
.btn-red {
  background-color: #e86d49;
  color: #fdffee;
  border-radius: 0;
}
.btn-red:hover {
  background-color: #3074e7;
  color: #fdffee;
  border-bottom: 1px solid #fdffee;
  cursor: pointer;
}
.btn-red.active {
  background-color: #e86d49;
  color: #3074e7;
}
.btn-white {
  background-color: #ffffff;
  color: #e86d49;
}
.btn-white:hover {
  background-color: #ffffff;
  color: #e86d49;
  border-bottom: 1px solid #e86d49;
}
.btn-white.active {
  background-color: #e86d49;
  color: #ffffff;
}
.border-blue {
  border: 1px solid #3074e7;
}
a.online-spel {
  position: absolute;
  bottom: 15px;
  right: 20px;
}
