@media screen and (min-width: 768px) {
  .rules .card {
    height: 580px;
  }
}
@media screen and (min-width: 992px) {
  .rules .card {
    height: 520px;
  }
}
@media screen and (min-width: 1200px) {
  .rules .card {
    height: 500px;
  }
}
.rules .card img {
  height: 230px;
}
@media screen and (min-width: 576px) {
  .rules .card img {
    height: 280px;
  }
}
@media screen and (min-width: 768px) {
  .rules .card img {
    height: 200px;
  }
}
@media screen and (min-width: 992px) {
  .rules .card img {
    height: 230px;
  }
}
.rules ul {
  padding-left: 20px;
}
.rules ul.markers li {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 1px solid #ef4644;
  background-color: #ef4644;
  list-style-type: none;
  margin: 10px 15px 15px 10px;
}
.rules ul.markers li.yellow {
  border: 1px solid #ffeb3f;
  background-color: #ffeb3f;
}
.rules ul.markers li.hide {
  display: none;
}
@media screen and (min-width: 576px) {
  .rules ul.markers li.hide {
    display: inherit;
  }
}
.rules h2 {
  font-size: 2.4rem;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height
     or slightly more for more space before footer
  */
  margin-bottom: 100px;
}
footer {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 80px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Aldrich', sans-serif;
}
footer p {
  margin: 0;
  text-align: center;
}
footer div {
  float: left;
  width: 33%;
}
footer :after {
  content: "";
  display: table;
  clear: both;
}
/*
  Other footer height for Boostrap xs, sm
  (for breakpoint see: https://getbootstrap.com/css/)
*/
@media screen and (max-width: 969px) {
  body {
    margin-bottom: 300px;
  }
  footer {
    height: 280px;
  }
}
main.start-page div.online {
  position: absolute;
  right: 10px;
  top: 120px;
}
@media screen and (min-width: 768px) {
  main.start-page .card-body {
    height: 200px;
  }
}
@media screen and (min-width: 992px) {
  main.start-page .card-body {
    height: 140px;
  }
}
main.start-page img.card-img-top {
  height: 170px;
}
header {
  font-family: 'Rancho', cursive;
  position: sticky;
  top: -1px;
  z-index: 3;
}
body {
  background-color: #fcfcfc;
  font-family: 'Zilla Slab', serif;
  font-size: 18px;
  line-height: 130%;
  background: #fff;
}
